html{
    background: #000000;
    /* background: #ffffff; */
    margin-top: 100px;
     
}
.container{
    /* background: #ffffff; */
    background: #000000;
}

.title_faq{
    font-family: "Quicksand",cursive;
    color: #fff;

    font-size: 3rem;
    margin: 2rem 0rem;

    min-height: 1vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
 
.our-team{
    padding: 20px 15px 30px;
    /* background: #fff; */
    background: rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    background: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    /* background: #17bebb; */
    /* background: #000000; */
    background: #ffffff;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    /* color: #000000; */
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    font-family: "Quicksand",cursive;
}
.our-team .post{
    display: block;
    font-size: 15px;
    /* color: #17bebb; */
    /* color: #000000; */
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-family: "Quicksand",cursive;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    /* color: #17bebb; */
    /* color: #000000; */
    color: #ffffff;
    /* border: 1px solid #17bebb; */
    /* border: 1px solid #000000; */
    border: 1px solid #ffffff;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    /* background: #17bebb; */
    /* background: #000000; */
    background: #ffffff;



    /* color: #fff; */
    color: rgb(0, 0, 0);
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}